<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
   <Appenders>
       <Console name="STDOUT" target="SYSTEM_OUT">
           <PatternLayout pattern="%X{firmName} %X{user} %d{ISO8601} %X{clientIP} %X{userAgent} %X{sessionId} [%t] [%c{1}:%L] %p - %m%n"/>
       </Console>
       <RollingFile
               name="RulebaseApplication"
               fileName="C:/urebal_config/logs/RulebaseApplication.log"
               filePattern="C:/urebal_config/logs/RulebaseApplication-%d{yyyy-MM-dd-HH}-%i.log"
               append="false">
           <PatternLayout>
               <Pattern>%X{firmName} %X{user} %d{ISO8601} %X{clientIP} %X{userAgent} %X{sessionId} [%t] [%c{1}:%L] %p - %m%n</Pattern>
           </PatternLayout>
           <Policies>
               <TimeBasedTriggeringPolicy />
               <SizeBasedTriggeringPolicy size="100 MB"/>
           </Policies>
           <DefaultRolloverStrategy max="2" />
       </RollingFile>
       <RollingFile
               name="queryLog"
               fileName="C:/urebal_dev/logs/queryLog.log"
               filePattern="C:/urebal_dev/logs/queryLog-%d{yyyy-MM-dd-HH}-%i.log"
               append="false">
           <PatternLayout>
               <Pattern>%X{firmName} %X{user} %d{ISO8601} %X{sessionId} [%t] [%c{1}:%L] %p - %m%n</Pattern>
           </PatternLayout>
           <Policies>
               <TimeBasedTriggeringPolicy />
               <SizeBasedTriggeringPolicy size="100 MB"/>
           </Policies>
           <DefaultRolloverStrategy max="2" />
       </RollingFile>
    </Appenders>
    <Loggers>
        <!-- <Logger name="org.apache.log4j.xml" level="all"/>-->
        <logger name="org.quartz" level= "error" additivity="false">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="uRebalApplication"/>
        </logger>
        <logger name="org.hibernate" level= "error" additivity="false">
            <appender-ref ref="queryLog"/>
        </logger>
        <logger name="org.hibernate.stat" level= "debug" additivity="false">
            <appender-ref ref="queryLog"/>
        </logger>
        <root level="info">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="uRebalApplication"/>
        </root>
    </Loggers>
</Configuration>
